.boxColor1 {
	background-color: #CDDF7B;
}
.boxColor2 {
	background-color: #F89B85;
}
.boxColor3 {
	background-color: #C1EED8;
}
.boxColor4 {
	background-color: #D8BEF2;
}
.boxColor5 {
	background-color: #B887DB;
}
.boxColor6 {
	background-color: #91D3E2;
}

.boxColor7 {
	background-color: #B399F6;
}
.boxColor8 {
	background-color: #84C5A6;
}
.boxColor9 {
	background-color: #9BB3C9;
}
.boxColor10 {
	background-color: #E7FD8F;
}
.boxColor11 {
	background-color: #F0CAFC;
}
.boxColor12 {
	background-color: #AEF1E4;
}

.boxColor13 {
	background-color: #AE7D93;
}
.boxColor14 {
	background-color: #B3F685;
}
.boxColor15 {
	background-color: #89A1F1;
}
.boxColor16 {
	background-color: #7CDBBA;
}
.boxColor17 {
	background-color: #F97CDD;
}
.boxColor18 {
	background-color: #89CDF9;
}